# Part 2 Quiz

The quiz is short and combines topics covered in Part 2. If you are struggling, go back through the lecture notebook to review. The quiz is designed to test how well you're learning to put code together more than just if you remember the right operators and functions, so don't be ashamed to look things up. Try to spend as much time as you can to figure out a correct answer before you look at the answer key.
<br><br>The quiz is self-graded - you do not need to turn anything in! The answer key is called "part2Quiz-answers.ipynb".

1. Create a list of the following numbers: 35, 28, 48, 21, 61, and 39. Find the mean of these numbers. Print the mean as part of a complete sentence.

In [ ]:
import statistics

In [ ]:
numbers = [35, 28, 48, 21, 61, 39]

In [ ]:
mean_num = statistics.mean(numbers)

In [ ]:
print("The mean is " + str(mean_num) + ".")

The mean is 38.666666666666664.

2. Join the following list together into a string. Use a space to separate the items in the list.

In [ ]:
song = ["Come", "gather", "'round", "people", "Wherever", "you", "roam"]

In [ ]:
" ".join(song)

"Come gather 'round people Wherever you roam"

3. Store the list below. Write a for loop to print out the first letter of each item in the list.

In [ ]:
months = ["January", "February", "March", "April",
          "May", "June", "July", "August", "September",
          "October", "November", "December"]

In [ ]:
for m in months:
    print(m[0])

J
F
M
A
M
J
J
A
S
O
N
D

4. Store the list below. Under the empty lists (but in the same cell), write a for loop to loop through the list `times`. Write an if/elif/else statement to sort the items and append the terms onto the correct lists (`days`, `months`, and `numbers`). *Hint: there are several ways to do this. Here are some ideas that might help: `type()`, `in`, `not in`, `len()`.*

In [ ]:
times = ["Tuesday", "June", 8, "July", "Wednesday", 10, "Thursday", 12, "April"]

In [ ]:
days = []
months = []
numbers = []
for t in times:
    if type(t) == int:
        numbers.append(t)
    elif "day" in t:
        days.append(t)
    else:
        months.append(t)

OR

In [ ]:
days = []
months = []
numbers = []
for t in times:
    try:
        if len(t) <= 5:
            months.append(t)
        elif len(t) > 5:
            days.append(t)
    except TypeError:
        numbers.append(t)

In [ ]:
print(days)
print(months)
print(numbers)

['Tuesday', 'Wednesday', 'Thursday']
['June', 'July', 'April']
[8, 10, 12]

OR any other way that works!

5. Correct the errors in this code. It's ok to run the code first to see the error message:

In [ ]:
tiny_toons = {"Elmyra Duff": "Human", "Hamton J. Pig": "Pig",
              "Babs Bunny": "Rabbit", "Buster Bunny": "Rabbit",
              "Plucky Duck": "Duck", "Montana Max": "Human",
              "Fifi La Fume": "Skunk"}